<div class = "calculator">
    <ng-container *ngFor="let group of calcGroups">
        <select class="calculator__select__modif" 
        [(ngModel)]="group.first.modificator">
            <option [value]="modificator.value" 
            *ngFor="let modificator of calcModific | keyvalue">
                {{modificator.value}}
            </option>
        </select>  
    <input 
    type="number" 
    class="calculator__input" 
    [(ngModel)]="group.first.value"/>
    <select class="calculator__select" 
    [(ngModel)]="group.operation">
        <option [value]="operation.value" 
        *ngFor="let operation of calcOperations | keyvalue">
            {{operation.value}}
        </option>
    </select>
    <select class="calculator__select__modif" 
        [(ngModel)]="group.second.modificator">
            <option [value]="modificator.value" 
            *ngFor="let modificator of calcModific | keyvalue">
                {{modificator.value}}
            </option>
        </select>  

    <input type="number" 
    class="calculator__input" 
    [(ngModel)]="group.second.value"/>
</ng-container>
    
    <span class="calculator__result">
        <!--{{result ? result : 'Нажмите "Расчитать"'}}-- чтоб не ругался> 
    </span>
    <button>Рассчитать</button>
</div>


<!--Доделать
-стили можно добавить
-->